# Data Structures Projects - files to hide #
############################################
Data-Structures/Practical Project 0/Relatório\ TP0.docx

Data-Structures/Practical Project 1/tp1_escalonador_urls.pdf
Data-Structures/Practical Project 1/Relatório\ TP1.docx
Data-Structures/Practical Project 1/geracarga/

Data-Structures/Practical Project 2/tp2-OrdenacaoExterna(1).pdf
Data-Structures/Practical Project 2/Relatório\ TP2.docx
Data-Structures/Practical Project 2/geracarga/

Data-Structures/Practical Project 3/tp3_maquinabusca-v1.pdf
Data-Structures/Practical Project 3/Relatório\ TP3.docx
Data-Structures/Practical Project 3/colecao_full/
Data-Structures/Practical Project 3/colecao_small/
